node_modules
assets
.vscode
.git
.gitignore
modules/.cache/*
modules/public/plex_covers/*.jpg
config.json

# Do not ignore these folders for structure
!modules/.cache
!modules/public/
!modules/public/plex_covers/